{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link href="{% static 'css/login.css' %}" rel="stylesheet">
  </head>
  <body>
    <main>
      <form id="login-form" method="post">
        {% csrf_token %}
        <label for="username">Username</label>
        <input type="text" id="username" required>
        <label for="password">Password</label>
        <input type="password" id="password" required>
      </form>
      <button type="submit" form="login-form" value="Submit" id="submit">Login</button>
    </main>
  </body>
</html>